<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mobiladelphia</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    Hello World!
    <%- include ("partials/test.ejs") %>

    <script type="module" src="js/main.js"></script>
  </body>
</html>