html {
  background-color: #343332;
}

h1 {
  position: relative;
  font-family: Unbounded, cursive;
  font-weight: 700;
  color: #f8f6a7;
  margin-top: 3rem;
  margin-bottom: 0;
  padding-left: 2rem;
  font-size: 10rem;
  z-index: 1000;
}

h2 {
  font-family: Unbounded, cursive;
  font-weight: 700;
  color: #f8f6a7;
  font-size: 7rem;
  padding-left: 2rem;
  margin-bottom: 0;
}

#blue {
  color: #00c6fc;
}

#orange {
  color: #d3a112;
}

h3 {
  padding-top: 0;
  padding-left: 3rem;
  font-family: Unbounded, cursive;
  font-weight: 300;
  color: #f8f6a7;
  font-size: 2rem;
}

#divider1 {
  height: 60rem;
}

#divider2 {
  height: 50rem;
}

#divider3 {
  height: 45rem;
}

#divider4 {
  height: 45rem;
}

#map {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  position: fixed;
  top: 0;
  background-color: #343332;
}

#chart {
  position: fixed;
  width: 100vw;
  z-index: 200;
  bottom: 0;
  background: rgb(52 51 50);
  background: linear-gradient(0deg, rgb(52 51 50 / 69.9%) 27%, rgb(52 51 50 / 0%) 98%);
}

#long {
  height: 9600px;
  z-index: 100;
  position: relative;
  top: 0;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
}

.fadeaway {
  animation: fade-out ease 2s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.progress-container {
  height: 5vh;
  position: fixed;
  width: 100%;
  z-index: 300;
  bottom: 0;
}

.progress-bar {
  border-right: solid 2px #f8f6a7;
  height: 5vh;
  width: 0%;
}

#game1 {
  border-right: solid 2px red;
  height: 10vh;
  transform: translate(12vw, 0);
  position: fixed;
}

#game1-label {
  color: red;
  transform: rotate(90deg) translate(-5vh, -2.5vw);
}

#game2 {
  border-right: solid 2px red;
  height: 10vh !important;
  transform: translate(20vw, 0);
  position: fixed;
}

#game2-label {
  color: red;
  transform: rotate(90deg) translate(-5vh, -2.5vw);
}

body {
  margin: 0;
  -ms-overflow-style: none;

  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar for Chrome, Safari and Opera */
}

.apexcharts-legend-series {
  background-color: #343332;
  box-shadow: 1px -1px 53px 17px #343332;
  box-shadow: 1px -1px 53px 17px #343332;
}