body {
  margin: 0;
  border-width: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.map-container {
  position: sticky;
  top: 0;
  height: 100vh;
}

.map {
  height: 100%;
}

.slides {
  margin-top: -30vh;
  pointer-events: none;
  position: relative;
}

.slide {
  margin: 90vh 2rem 100vh auto;
  padding: 1rem;
  box-shadow: -0.5rem 0 1rem rgb(0 0 0 / 50%);
  border: 1px solid gray;
  border-radius: 0.5rem;

  width: 25rem;

  background-color: white;
  color: black;
}

.slide:first-child {
  margin-top: 0;
}

.slide:last-child {
  margin-bottom: 40vh;
}

.slide-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 0.5rem;

  width: 100%;
}

.slide-nav-button {
  transition: all 0.05s;

  padding: 0;
  margin: 1rem;
  width: 4rem;
  height: 3rem;
  border: 1px solid #888;
  border-radius: 0.25rem;

  background-color: #eee;
  font-size: 1.5em;
}

.slide-nav-button:hover {
  background-color: #444;
  color: #fff;
}

.slide-nav-select {
  min-width: 0;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgb(255 255 255 / 100%);
}

.legend-header{
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
}