/* ===========================================
Overall CSS settings and
light CSS settings for simple modules

CSS for complex modules, see other files

@auther: Jie Li
@Date: 12/07/2022
============================================== */

/* --- Overall settings ---- */

:root {
  --hero-reg: #353795;
  --hero-faded: #c8b7d9;
  --primary-reg: #ef8872;
  --primary-faded: #fec7ba;
  --highlight-reg: #fdd310;
  --light-gray: #ccc;
  --fade-gray: #eee;
  --nav-height: 6vh;
  --phone-ht-reduction: 10vh; /* On phones height of main body should be reduced */
  --main-padding: 2rem; /* padding outside of the entire page */
  --light-border: 1px solid var(--light-gray);
  --shadow-layer-1: 0.05rem 0.1rem 0.1rem 0.02rem rgba(0 0 0 / 20%);
  --shadow-layer-2: 0.15rem 0.2rem 0.2rem 0.02rem rgba(0 0 0 / 20%);
}

@media only screen and (max-width: 500px) {
  :root {
    --main-padding: 2rem 1rem;
  }
}

* {
  font-family: "JetBrains Mono", Hack, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* ====== Navigation bar ====== */

nav {
  background-color: var(--hero-reg);
  width: 100%; /* If width is 100%, padding will add width */
  height: var(--nav-height);
  padding: 0.5rem var(--main-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  color: white;
}

nav * {
  cursor: pointer;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.nav-title {
  line-height: 0.7;
}

.nav-phila-icon {
  height: 4vh;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.nav-subtitle {
  font-size: 1rem;
}

/* ------ Nav bar settings on smaller screens ------ */

@media only screen and (max-width: 768px) {
  .nav-subtitle {
    display: none;
  }
}

/* -------- map -------- */

.map {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 0;
}

.leaflet-control-attribution {
  z-index: 999;
}

/* -------- Main section -------- */

/* -----
Main section is 100% width and the height is 100vh minus navbar
Main section is a flexbox containing two columns of panels
On larger screens the columns should be spread out left and right
On smaller screens the columns should be stacked vertically
------ */

.main-section {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: space-between;
  padding: var(--main-padding);
  gap: 1rem;
}

@media only screen and (max-width: 1200px) {
  .main-section {
    height: calc(100vh - var(--phone-ht-reduction) - var(--nav-height));
    justify-content: flex-start;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .main-section {
    align-items: center;
  }
}

/* Column is at least 25% of screen, preferrably 20rem,
and when screen is smaller than 20rem, go for 100% */

.column {
  width: clamp(25%, 20rem, 100%);
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

/* ------- Main panels --------- */

.panel {
  width: 100%;
  background-color: white;
  border: 1px solid var(--light-gray);
  border-radius: 0.25rem;
  z-index: 1;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-shadow: var(--shadow-layer-1);
}

.panel-title {
  color: var(--hero-reg);
  font-size: 1.1rem;
  line-height: 0.9;
  margin: 0;
}

.dropdown-button {
  width: 100%;
  border: var(--light-border);
  cursor: pointer;
  background-color: var(--fade-gray);
  height: 1.5rem;
  border-radius: 0.2rem;
}

.dropdown-button:hover {
  background-color: var(--light-gray);
}

.dropdown-content {
  position: relative;
  z-index: 10000;
  background-color: white;
  padding: 0 0.5rem;
  border: var(--light-border);
  top: 0.3rem;
  box-sizing: border-box;
  overflow: hidden;
  display: none;
  transition: all 0.3s ease-in-out;
  max-height: 0;
  box-shadow: var(--shadow-layer-2);
}

@media only screen and (min-width: 37rem) {
  .dropdown-content {
    left: 20rem;
    top: -1.5rem;
    width: 15rem;
  }
}

.toggle-display-panel {
  z-index: 3;
  height: 5rem;
}