body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #b5d0d0;
  color: #285585;
}

h1 {
  font-size: 1.2rem;
  margin-top: 0;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
  font-size: 1rem;
  margin-top: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a:hover {
  color: #fff;
}

h3 {
  white-space: nowrap;
  margin: 0.4em 0 0;
  font-size: 30px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h3 a:hover {
  text-decoration: none;
}

#map {
  border-radius: 0.125em;
  border: 2px solid #1978cf;
  margin: 6px;
  float: center;
  width: 60%;
  height: 100%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#post-it {
  width: 500px;
  height: 10em;
  line-height: 120%;
  padding: 1em;
  position: absolute;
  left: 63%;
  top: 11%;
  background: #fbf5bf;
  border: 1px solid #c6bb58;
  box-shadow: 2px 2px 6px #999;
  color: #666;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.house-info {
  padding: 1rem;
  width: 500px;
  line-height: 120%;
  position: absolute;
  left: 63%;
  bottom: 10px;
  text-align: center;
  background: rgb(192 233 249 / 40%);
  border: 5px dashed #fffbda;
  box-shadow: 2px 2px 6px #999;
  color: #666;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.house-list {
  padding: 1rem;
  width: 500px;
  line-height: 120%;
  position: absolute;
  left: 63%;
  bottom: 400px;
  text-align: center;
  background: rgb(192 233 249 / 40%);
  border: 5px dashed #fffbda;
  box-shadow: 2px 2px 6px #999;
  color: #666;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

textarea {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  height: 4rem;
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

button {
  width: 100%;
  display: block;
  padding: 0.5rem;
  float: left;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.load-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  font-weight: bold;
  z-index: 2000;
  animation: pulse-overlay 1s infinite;
}

@keyframes pulse-overlay {
  0% {
    background-color: rgba(255 255 255 / 85%);
  }

  50% {
    background-color: rgba(255 255 255 / 25%);
  }

  100% {
    background-color: rgba(255 255 255 / 85%);
  }
}

.toast {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;
  z-index: 2000;
  opacity: 1;
  transition: opacity 2s ease-in;
}

.toast-success {
  background-color: #83bf15;
  color: white;
  font-weight: bold;
}

.toasting-out {
  opacity: 0;
}

.hidden {
  display: none;
}